{% extends 'weatherapp/base.html' %}

{% block header %}

<div class="mx-0 my-lg-5">
    <p style="font-size: 60px">Log in to your account</p>
</div>

{% endblock %}

{% block content %}

<div>
    <form method="POST" class="my-3 mb-5" action="{% url 'users:login' %}">
        {% csrf_token %}
        <div class="mb-lg-5">
            <input type="text" class="form-control" placeholder="Username..." name="username">
        </div>
        <div class="mb-lg-5">
            <input type="password" class="form-control" placeholder="Password..." name="password">
        </div>
        <div>
            <input type="submit" name="Create User" style="font-weight:bold; color: black; background-color: rgba(130, 196, 244 , 1); 
            border-radius: .5rem; border: none; padding: 5px 10px" value="Log In">
        </div>
    </form>
</div>

{% for message in messages %}
    <p id="messages" class="my-3">{{message}}</p>
{% endfor %}

<div class="mt-4">
    <div style="font-size: 20px">
        Don't have an account? <a href="{% url 'users:register' %}">Register</a>
    </div>
</div>

{% endblock %}